.bg-gradient {
  background: radial-gradient(28.12% 31.58% at 50% 50%, rgba(255, 168, 90, 0.10) 0%, rgba(255, 168, 90, 0.00) 100%);
}

.bg-hero-pattern {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-hero-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/hero/background.svg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.4;

  @media (max-width: 768px) {
    background-position: bottom center;
  }
}


.bg-seamless-transactions {
  background-image: url('/assets/images/bg/bg-seamless-transactions.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-acknowledged-by-community {
  background-image: url('/assets/images/bg/bg-acknowledged-by-community.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}