$primary-color: #1c1c1c;
$subtitle-color: #6b6b6b;
$secondary-color: #F8F8F8;
$background: #F8F8F8;
$background: linear-gradient(#F8F8F8 0%,  #c9bfdd 77%) fixed;
$radial-1: radial-gradient(circle at -154.508px 387.296px, #0141FF55, #0000000f);
$radial-2: radial-gradient(circle at -184.725px 707.244px, #BA1EE455, #0000000f);
$radial-3: radial-gradient(circle at -170.802px 276.457px, #FFFFFF55, #0000000f);
$overlay: radial-gradient(circle, #BFCEDD 0%, #F8F8F8 48%) fixed;
$secondary-background: #1c1c1c;
$favourite: #e5ad06;
$menu-links: #696969;
$border: #999;
$card-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 5%);
$menu-text: #5E5E60;
$card: rgba(127, 147, 242, 0.13);
$border-radius: 50px;
$input-border-radius: 10px;
$modal-border-radius: 20px;
$input: #0a0a0a;
$grayed: #8a91a2;
$button-background: #1c1c1c;
$button-color: #f2f4fa;
$box-shadow: 0px 5px 33px 0px #0000001A;
$green: #1ED28F;
$red: #FF4848;
$link-color: rgb(26, 85, 255);
$card-margin: 1rem;
$badge: #958CF1;
$tag: rgba(240, 149, 211, 0.2);
$tag-color: #F095D3;
$gradient-background: linear-gradient(180deg, #16001c 0%, #000000 117.47%);
$progress-outer: rgba(139, 67, 74, 0.28);
$progress-inner: rgb(122, 41, 77);
$progress-shadow: 0px 0px 10x #BD2735;